{
	"trailingComma": "es5",
	"useTabs": false,
	"semi": false,
	"tabWidth": 4,
	"jsxSingleQuote": false,
	"singleQuote": false,
	"arrowParens": "always",
	"bracketSpacing": true,
	"endOfLine": "lf",
	"htmlWhitespaceSensitivity": "css",
	"insertPragma": false,
	"jsxBracketSameLine": false,
	"printWidth": 80,
	"proseWrap": "preserve",
	"quoteProps": "as-needed",
	"requirePragma": false,
	"vueIndentScriptAndStyle": false,
	"embeddedLanguageFormatting": "auto",
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"^@/components/(.*)$",
		"^@/hooks/(.*)$",
		"^@/types/(.*)$",
		"^@/services/(.*)$",
		"^@/assets/(.*)$",
		"^@/utils/(.*)$",
		"^@/config/(.*)$",
		"^@/providers/(.*)$",
		"^@/navigation/(.*)$",
		"^@/api/(.*)$",
		"^@/store/(.*)$",
		"^../(.*)$",
		"^./(.*)$"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"plugins": ["@trivago/prettier-plugin-sort-imports"]
}
